.main-content .menu{

    display: flex;
    gap: 5px;
    margin-left: 20px;
}

.main-content .menu .menu-item{

    background-color: #DDDEEE;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.main-content .menu .active-link{

    
    background-color: #e4e4e4;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    color: #0c3982;
    font-weight: bold;
    
}
.main-content .menu .menu-item:hover{
  opacity: 0.5;
}
.main-content .menu .menu-link{
    text-decoration: none;
    color: #191919;
    font-weight: 600;
}

.main-content .menu .menu-link{
    text-decoration: none;
    color: #191919;
    font-weight: 600;
}
.main-content .menu .menu-link .menu-item .menu-icon{
 
    width: 20px;
    height: 20px;
   
    
}


.main-content .address-menu{
    margin-left: 20px;
}
@media screen and (max-width: 768px){
  
    .main-content .menu{

        display: flex;
        flex-direction: column;
        position: relative;
        
    }
    
    
}