body{
  background-color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}
.wrapper .main-content{
  position: absolute;
    width: 80vw;
  
    top: 20%;
    right: 10%;
    
}
.toggle-sidebar{

  position: fixed;
  top: 50%;
  left: 0;
  cursor: pointer;
  background-color: #1c33ff;
  color: #fff;
  padding: 5px 10px;
  transition: 0.3s;
}

.toggle-sidebar:hover{

 background-color: #4d79ff;
}

@media screen and (max-width: 768px){
  .wrapper .main-content{
    
      transition: 0s;
  }
}