@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.dash-nav{
    width: 1440px;
height: 88px;
flex-shrink: 0;
border-radius: var(--default, 0px);
border: 1px solid rgba(46, 140, 213, 0.50);
align-items: center;
border-right: none;
}
.dash-nav > .container-fluid  a{
    
    width: 56px;
height: 56px;
flex-shrink: 0;
border-radius: var(--default, 0px);

}
.dash-nav > .container-fluid > .search-form > form > input{

 
color: white;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.2px;
background-color: #212121;
border: none;
}
.container-fluid > .sidenav > .bg-dark > .d-flex > .profile{
margin-top: 16px;
border-radius: 50px;
width: 50px;
height: 50px;
flex-shrink: 0;

}
.container-fluid > .sidenav > .bg-dark > .d-flex > .profile-container{
margin-left: 16px;
margin-top: 32px;
color: var(--black, #ffffff);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.16px;
}

#sidebar #toggle-btn{

 border: none;
 font-size: 1.5rem;
 
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.wrapper {
    display: flex;
}

.main {
   
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    
}

.widgets{
width: 249px;
height: 139px;
flex-shrink: 0;
border-radius: 6px;
border: 2px solid var(--ter, #4A8DB7);
background: var(--bg, #FCFCF7);
}
.widgets .widgets-heading{

color: var(--black, #13131A);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.16px;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    border: #3b7ddd 1px solid; 
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    margin-top: 84px;
    border-top: none;
    background-color: #FFF;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    color: #0e2238;
    margin-right: 250px;
}

.toggle-btn i {
    font-size: 1.5rem;
    
}

.sidebar-logo {
    margin: auto 0;
    
}
.sidebar-logo .profile-img{
width: 50px;
height: 50px;
flex-shrink: 0;
 margin-left: 8px;
 border-radius: 50px;
}
.sidebar-logo .profile-name{

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.16px;
margin-left: 16px;
margin-top: 16px;
}
.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #0e2238;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
    background-color: #FFF;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}